
/*========/all common css strat from here/=======*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

a,a:hover{
    display: inline-block;
    text-decoration: none;
}

ul,li,ol{
    list-style-type: none;
}

html,body{
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p,span,ul,li{
    margin: 0;
    padding: 0;
}

img{
    vertical-align: middle;
    border: none;
}
/*========/all common css end from here/=======*/

/*========/navbar part start from here/=======*/
#main_nav{
    padding: 10px 0px;
    background-color: #172138;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    /* border-bottom: 2px solid rgb(243, 13, 128); */
}
#main_nav .main-nav-logo a{
  font-size: 28px;
  color:#fff;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

#main_nav .create-account ul li a{
    border: 1px solid rgb(243, 13, 128);
    font-size: 14px;
    color:#fff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    border-radius: 5px;
    padding: 5px 20px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
#main_nav .create-account ul li a:hover{
   text-decoration: underline;
}
.main_nav_flex{
    display: flex;
   justify-content: space-between;
}
.create-account ul{
    display: flex;
}
.create-account ul li{
    margin-right: 20px;
    margin-top: 4px;
}
/*========/navbar part end from here/=======*/

/*=======/banner part start from here/======*/
.banner-one{
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../images/banner-one.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.banner-two{
    background-image: url(../images/banner-two.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.banner-three{
    background-image: url(../images/banner-three.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.banner-four{
    background-image: url(../images/banner-four.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 200px;
    padding-bottom: 200px;
}
/*=======/banner part start from here/======*/


/*=======/play part start from here/======*/
#paly{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(44, 135, 138);
    position: relative;
}
.play-moving-text{
    padding-bottom: 15px;
}
.play-moving-text marquee{
    font-size: 18px;
    color:#fff;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    display: inline;
}
.play-picture{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.play-img img{
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 98%;
    margin-left: 3px;
}
.play-gif{
   height: 260px!important;
}

.play-img{
    position: relative;
}
.play-img-btn{
    position: absolute;
    left: 50%;
    bottom: 4%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.play-img-btn a{
    padding: 5px 25px;
    border: 1px solid rgb(243, 13, 128);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background-color: #000;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}
/*=======/play part end from here/======*/

/*=======/copyright start from here/======*/
#copyright{
    border-top: 2px solid rgb(243, 13, 128);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #172138;
}
.copyright-text p{
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
/*=======/copyright end from here/======*/

/*=======/signup part start from here/======*/
#signup{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(44, 135, 138);
    position: relative;
}
.signup-bg{
    height: 800px;
    width: 70%;
    background-color: #172138;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.signup-bg table{
    margin: 0px auto;
}
 .input-box{
    padding: 10px 10px;
    width: 80%;
    font-size: 15px;
    color: #000;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 5px;
}

.signup-bg table td h4{
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-align: center;
}
.signup-bg table td {
    text-align: center;
    padding-bottom: 10px;

}
button, select {
	margin-top: 5px;
	text-transform: none;
	padding: 10px 10px;
	width: 80%;
	border-radius: 5px;
	font-size: 15px;
	color: #000;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	text-transform: capitalize;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
 .register p a{
	background:  rgb(243, 13, 128);
	text-align: center;
	padding: 10px 10px;
    margin-top: 5px;
	width: 80%;
	display: inline-block;
	border-radius: 5px;
	font-size: 15px;
	color: #000;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	text-transform: capitalize;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
} 
.have{
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
/*=======/signup part start from here/======*/

/*=======/login part start from here/======*/
.login-bg{
    height: 500px;
    width: 80%;
    background-color: #172138;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.login-bg table td h4{
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 10px;
}
.login-bg table td {
    text-align: center;
    padding-bottom: 10px;
}
.login-bg table{
    margin: 0px auto;
}
.check-box-rem {
	width: 90%;
	display: -webkit-flex;
	display: flex;
	padding: 0;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-align-items: center;
    align-items: center;
    margin: 0px 35px;
}
.check-box-rem label {
	margin: 3px;
	color: #fff;
	font-size: 18px;
}
/*=======/login part end from here/======*/

/*=======/register part start from here/======*/
.main_nav{
    padding: 10px 0px;
    background-color: #172138;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    /* border-bottom: 2px solid rgb(243, 13, 128); */
}
.navbar-brand{
    font-size: 28px;
    color:#fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.navbar-nav{
    position: relative;
}
.regi-nav .navbar-nav .nav-item a{
    border: none;
    font-size: 14px;
    color:#fff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    border-radius: 5px;
    padding: 5px 20px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
	position: absolute;
	background: #000;
	border: 1px solid #fff;
}
.main_nav .navbar-nav .nav-item a:hover {
	text-decoration: underline;
	color: rgb(236, 33, 219);
}

.nan-icon{
    position: fixed;
    top: 40px;
    transform: translateY(-50%);
    right: 150px!important;
    z-index: 999;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.nan-icon ul{
    display: flex;
    margin-right: 15px;
}
.nan-icon ul li i{
    padding-left: 30px;
}
/*--------profile-dropdown----------*/
.profile{
    position: relative;
    display: inline-block;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
    cursor: pointer;
}
.profile-dropdown {
    position: absolute;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    visibility: hidden;
    opacity: 0;
    height: 100px;
    width: 120px;
    background-color: #d1d1d1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    margin-top: 15px;
    top: 28px;
    left: -45px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.nested-dropdown{
    display: block!important;
    margin-top: 10px;
    margin-left: -30px;
}

 .profile:hover .profile-dropdown{
     visibility: visible;
     opacity: 1;
 }

 .profile i{
     color: #fff;
     font-size: 25px;
}
.profile-dropdown{
    display: block!important;
}
.profile-dropdown li a{
    color: #000;
    text-align: left;
}
.nested-dropdown i{
    color: #000;
    font-size: 15px;
    margin-right: 10px;
}
/*--------profile-dropdown----------*/

/*--------notification-dropdown----------*/
.noti-drop{
    position: relative;
    display: inline-block;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
    cursor: pointer;
}
.noti-dropdown {
	position: absolute;
	font-size: 14px;
	color: #000;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	text-transform: capitalize;
	visibility: hidden;
	opacity: 0;
	width: 250px;
	height: 300px;
	background-color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	text-align: center;
	top: 28px;
	left: -134px;
	transition: all linear .4s;
	-webkit-transition: all linear .4s;
	-moz-transition: all linear .4s;
	-ms-transition: all linear .4s;
	-o-transition: all linear .4s;
}
.noti-dropdown{
    display: block!important;
}
 .noti-drop:hover .noti-dropdown{
     visibility: visible;
     opacity: 1;
 }
  
 .noti-dropdown li:nth-child(even){
    background: #fff;
}
.noti-dropdown li:nth-child(odd){
    background: #CCC
} 
.noti-nested p{
    font-size: 14px;
	color: #000;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	text-transform: capitalize;
    width: 253px;
    margin: 0px auto;
}

/*--------notification-dropdown----------*/



/*=======/deposite part startr from here/======*/
.deposite-bg {
	height: 500px;
	width: 50%;
	background-color: #172138;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.deposite-bg table{
    margin: 0px auto;
}
.deposite-bg table td h4{
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.deposite-bg table td {
    text-align: center;
    padding-bottom: 10px;

}
/*=======/deposite part end from here/======*/




/*=======/wirhdraw part startr from here/======*/
.withdraw-bg{
    height: 500px;
    width: 50%;
    background-color: #172138;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.withdraw-bg table{
    margin: 0px auto;
}


.withdraw-bg table td h4{
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.withdraw-bg table td {
    text-align: center;
    padding-bottom: 10px;

}
/*=======/wirhdraw part end from here/======*/

/*=======/transfer part start from here/======*/
.transfer-bg {
	height: 500px;
	width: 50%;
	background-color: #172138;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.transfer-bg table{
    margin: 0px auto;
}
.transfer-bg table td h4{
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.transfer-bg table td {
    text-align: center;
    padding-bottom: 10px;
}
/*=======/transfer part end from here/======*/

/*=======/depositeDetails part start from here/======*/
.depositeDetails table{
    margin: 0px auto;
}
.depositeDetails table tr{
    border: 1px solid #d1d1d1;
}
.depositeDetails tr td h5{
    text-align: center;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.depositeDetails tr td h4{
    text-align: center;
    font-size: 25px;
    color: #000;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.depositeDetails tr td p{
    text-align: center;
    font-size: 15px;
    color: #000;
    text-transform: capitalize;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

/*=======/depositeDetails part end from here/======*/

/*=======/depositeDetails part start from here/======*/
.withdrawDetails table{
    margin: 0px auto;
}
.withdrawDetails table tr{
    border: 1px solid #d1d1d1;
}
.withdrawDetails tr td h5{
    text-align: center;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.withdrawDetails tr td h4{
    text-align: center;
    font-size: 25px;
    color: #000;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.withdrawDetails tr td p{
    text-align: center;
    font-size: 15px;
    color: #000;
    text-transform: capitalize;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
/*=======/depositeDetails part end from here/======*/


/*=======/transferDetails part start from here/======*/
.transferDetails table{
    margin: 0px auto;
}
.transferDetails table tr{
    border: 1px solid #d1d1d1;
}
.transferDetails tr td h5{
    text-align: center;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.transferDetails tr td h4{
    text-align: center;
    font-size: 25px;
    color: #000;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.transferDetails tr td p{
    text-align: center;
    font-size: 15px;
    color: #000;
    text-transform: capitalize;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
/*=======/transferDetails part end from here/======*/

/*=======/play-previous part start from here/======*/
#play-one{
    background-color: #2C878A;
    padding-top: 60px;
    padding-bottom: 77px;
}
.play-previous{
    height: 550px;
    width: 400px;
    border: 1px solid rgb(212, 212, 73);
    margin: 0px auto;
}
.play-previous-title-flex{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.play-previous-title-flex h4{
    font-style: 25px;
    color: #000;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    padding-bottom: 20px;
    padding-top: 10px;
}
.play-previous-flex img{
    height: 100px;
    width: 100px;
    padding-bottom: 10px;
}
.play-previous-flex{
    display: flex;
    justify-content: space-evenly;
}

.play-table{
    height: 380px;
    width: 380px;
    background-color: #d1d1d1;
    margin: 0px auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.play-table h5{
    font-style: 20px;
    color: #000;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
.number-one{
    padding: 15px 50px;
    background-color: rgb(235, 232, 69);
    border-radius: 5px;
    font-style: 20px;
    color: #000;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.play-number{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.number-one:hover{
    background-color: rgba(0, 0, 0, 0.548);
    color: #fff;
    cursor: pointer;
}
.play-input p{
    font-style: 18px;
    color: #000;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 5px;
}
 .play-input input{
   margin-left: 100px;
   padding: 5px 0px;
   padding-left: 5px;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   border: 1px solid rgb(235, 232, 69);
}
.play-input .input{
    font-style: 18px;
    color: #000;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.play-input{
    font-style: 16px;
    color: #000;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.play-input h5{
   padding-top: 10px;
   font-size: 16px;
   color: #000;
   font-weight: 300;
   font-family: 'Roboto', sans-serif;
}
.play-input a{
   font-size: 20px;
   color: #000;
   font-weight: 500;
   font-family: 'Roboto', sans-serif;
   padding: 10px 0px;
   background-color: rgb(235, 232, 69);
   border-radius: 5px;
   display: flex;
   justify-content: center;
   transition: all linear .4s;
   -webkit-transition: all linear .4s;
   -moz-transition: all linear .4s;
   -ms-transition: all linear .4s;
   -o-transition: all linear .4s;
}
.play-input a:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.548);
}
/*=======/play-previous part end from here/======*/

/*=======/play-two part start from here/======*/
#play-two{
    background-color: #2C878A;
    padding-top: 87px;
    padding-bottom: 150px;
}
.play-two-border{
    height: 450px;
    width: 700px;
    border: 1px solid rgb(235, 232, 69);
    margin: 0px auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.names{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.names h4{
    font-size: 30px;
    color: #000;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    padding-top: 15px;
}
.play-two-border img{
    height: 100px;
    width: 100px;
    margin-top: 10px;
}
.option{
    display: flex;
    justify-content: center;
}
.option h4{
   padding: 10px 50px;
   background-color: rgb(235, 232, 69);
   color: #000;
   font-size: 30px;
   font-weight: 300;
   font-family: 'Roboto', sans-serif;
   text-transform: capitalize;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
   margin: 20px 20px;
   cursor: pointer;
   transition: all linear .4s;
   -webkit-transition: all linear .4s;
   -moz-transition: all linear .4s;
   -ms-transition: all linear .4s;
   -o-transition: all linear .4s;
}
.option h4:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.568);
}
.play-two-amount{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.text-center{
    color: #000;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}
.play-two-amount{
    color: #000;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}
.go-play p{
    color: #000;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-align: center;
    padding: 10px 25px;
    background-color: rgb(235, 232, 69);
    margin-top: 15px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}
.go-play p:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.568);
    cursor: pointer;
}
.play-two-flex {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
/*=======/play-two part end from here/======*/

/*=======/play-gif part start from here/======*/
.play-head-bg h4{
    background-color: #000;
    color: #fff;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}
.play-gif-table{
    height: 300px;
    width: 380px;
    background-color: #d1d1d1;
    margin: 0px auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.play-gif-border{
    height: 560px;
    width: 400px;
    border: 1px solid rgb(212, 212, 73);
    margin: 0px auto;
}
.play-gif-size img{
    height:60%;
    width: 60%;
}
/*=======/play-gif part end from here/======*/








